<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubu.inf.gps"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".logica.LocalizadorGPSActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity android:name=".logica.Preferencias"></activity>
        <service android:name=".logica.ServicioGPS">
            <intent-filter >
                <action android:name="ServicioGPS"/>
            </intent-filter>
        </service>
        <service android:name=".logica.ServicioEnvioEmail">
             <intent-filter >
                <action android:name="ServicioEnvioEmail"/>
            </intent-filter>
        </service>
        <service android:name=".logica.ServicioEnvioSMS">
             <intent-filter >
                <action android:name="ServicioEnvioSMS"/>
            </intent-filter>
        </service>
        <receiver android:name=".logica.AutoArranque">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
        </receiver>
        <receiver android:name=".logica.LectorSMS" android:enabled="true" >
            <intent-filter android:priority="999">
                
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>
    

</manifest>