<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubu.inf.control"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:theme="@android:style/Theme.Light.NoTitleBar"
        
        android:icon="@drawable/ic_ssh"
        android:label="@string/app_name" >
        <activity
            android:name=".vista.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                 <category android:name="android.intent.category.HOME" /> -->
            </intent-filter>
            
           
        </activity>
        <receiver android:name=".vista.AutoArranque">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
        </receiver>
        <activity android:name=".vista.Preferencias"></activity>
        <activity android:name=".vista.PestanaMainSSH"></activity>
         <activity android:name=".vista.Filtro"></activity>
        <activity android:name=".vista.PestanaMainEmail"></activity>
         <activity android:name=".vista.PestanaMainNotificaciones"></activity>
         <activity android:name=".vista.Formulario"></activity>
         <service android:name=".vista.ServicioSSH"></service>
          <service android:name=".vista.ServicioEmail"></service>
          <service android:name=".vista.ServicioAutoarranque">
              <intent-filter >
                  <action android:name="ServicioAutoarranque"/>
              </intent-filter>
          </service>
          <service android:name=".accesodatos.ServicioBorrado">
              <intent-filter >
                  <action android:name="ServicioBorradoControl"/>
              </intent-filter>
          </service>
    </application>

</manifest>